<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820748105789-3liqk7ibq8khtahsfmo99j7j54ei91ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820748105789-3liqk7ibq8khtahsfmo99j7j54ei91ps</string>
	<key>API_KEY</key>
	<string>AIzaSyBCM_ogQyIlKx3trjQ5MU6JTlzgQmrdof8</string>
	<key>GCM_SENDER_ID</key>
	<string>820748105789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fontendFmarket</string>
	<key>PROJECT_ID</key>
	<string>uploadingfile-175d8</string>
	<key>STORAGE_BUCKET</key>
	<string>uploadingfile-175d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820748105789:ios:888a4ce7377f72f3071254</string>
</dict>
</plist>